html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font__desc;

  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font__main;
  color: $color__main;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input,
textarea {
  font-family: inherit;
}

.container {
  max-width: $width__xl;
  margin: 0 auto;
  padding: $padding__desktop;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
