html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font__desc;

  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font__main;
  color: $color__main;
  // background-color: $bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: $desktop__width;
  margin: 0 auto;
  padding: $desktop__padding;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
