$width__xs: 320px;
$width__s: 448px;
$width__m: 768px;
$width__l: 948px;
$width__xl: 1200px;
$width__mobile-only: 767px;

$padding__desktop: 0 15px;

$font__main: "Roboto", "Arial", sans-serif;
$font__second: "Playfair Display", "Georgia", serif;

$color__main: #000000;
$color__second: #ffffff;
$color__second--opacity: rgba(255, 255, 255, 0.2);
$color__action: #ff7931;

$bg-color__main: #f7f7f7;
$bg-color__second: #575757;

$transition: all 0.3s ease;

