$desktop__width: 1200px;
$desktop__padding: 0 15px;

$font__main: "Roboto", "Arial", sans-serif;
$font__second: "Playfair Display", "Georgia", serif;

$color__main: #000000;
$color__second: #ffffff;
$color__second--opacity: rgba(255, 255, 255, 0.2);
$color__action: #ff7931;

$bg-color__pass: #e5e5e5;
$bg-color__footer: #575757;

$transition: all 0.2s;
