.footer {
  padding-top: 36px;
  padding-bottom: 46px;
  background-color: $bg-color__second;
}

.footer__inner {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin: 0 auto 29px;
  display: flex;
  flex-direction: column;
}

.footer__logo-img {
  display: block;
}

.footer__nav {
  @include font__nav;

  margin: 0 auto 41px;
  padding-bottom: 35px;
  border-bottom: 2px solid $color__second--opacity;
  text-transform: uppercase;
}

.footer__nav-list {
  @include list-reset;

  max-width: 320px;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-item {
  padding: 0;
  display: flex;
  justify-content: flex-start;

  &:nth-child(2n-1) {
    margin-right: auto;
  }
}

.footer__nav-link {

  padding: 10px 0;
  color: $color__second;

  &:hover,
  &:focus {
    color: $color__action;
    outline: 0;
    transition: $transition;
  }
}

@media (max-width: $width__mobile-only) {
  .footer__nav-item {
   min-width: 140px;
   max-width: 200px;
  }
}

@media (min-width: $width__s) {
  .footer__nav-list {
    max-width: 554px;
    justify-content: space-around;
  }

  .footer__nav-item {
    justify-content: center;

    &:nth-child(2n-1) {
      margin: 0;
    }
  }
}

@media (min-width: $width__m) {
  .footer__nav {
    margin: 0 0 41px;
  }

  .footer__nav-list {
    max-width: 738px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .footer__nav-item {
    min-width: 200px;
  }

  .footer__logo {
    margin-bottom: 24px;
  }
}

@media (min-width: $width__l) {
  .footer__nav {
    margin: 0 0 41px;
  }
  .footer__nav-list {
    max-width: none;
    justify-content: space-between;
  }

  .footer__nav-item {
    min-width: auto;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
