.header {
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
}

.header__inner {
  display: flex;
  flex-direction: column;
}

.header__logo {
  display: flex;
  margin: 0 auto 15px;
  flex-direction: column;
}

.header__logo-link {
  width: 290px;
}

.header__toggle {
  display: flex;
  width: 55px;
  height: 55px;
  padding: 0;
  background-color: $color__action;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &--open {
    background-image: url("../img/icon/icon-menu-open.svg");
    background-size: 24px;
    background-position: center center;
  }

  &--close {
    background-image: url("../img/icon/icon-menu-close.svg");
    background-size: 16px;
    background-position: center center;
  }

  &--nojs {
    display: none;
  }
}

.header__nav {
  @include font__nav;
  display: block;

  text-transform: uppercase;
}

.header__nav-list {
  @include list-reset;

  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.header__nav-item {
  padding: 0;
  display: flex;
  justify-content: center;
}

.header__nav-link {
  padding: 5px 0;
  color: $color__main;

  &--footer {
    color: $color__second;
  }

  &:hover,
  &:focus {
    color: $color__action;
    outline: 0;
    transition: $transition;
  }
}

@media (max-width: $width__mobile-only) {
  .header__nav {
    height: calc(100vh - 82px);
    position: absolute;
    top: 82px;
    right: 0;
    left: 0;
    background-color: $color__second;
    z-index: 9;

    &--opened {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: .4s;
    }

    &--closed {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
      transition: .6s;
    }

    &--nojs {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      height: auto;
      position: static;
    }
  }

  .header__nav-list {
    padding: 34px 20px 0;
    flex-direction: column;
    // justify-content: flex-start;
  }

  .header__nav-item {
    justify-content: flex-start;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .header__nav-link {
    @include font__nav-mobile;

    padding: 10px 0;
  }

  .header__action {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 110px;
    right: 15px;
    z-index: 10;
  }
}

@media (min-width: $width__m) {
  .header__action {
    display: none;
  }

  .header__nav-list {
    max-width: 738px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .header__nav-item {
    min-width: 200px;
  }
}

@media (min-width: $width__l) {
  .header {
    padding-top: 73px;
    padding-bottom: 42px;
  }

  .header__logo {
    margin-bottom: 43px;
  }

  .header__logo-link {
    width: 345px;
  }

  .header__logo-img {
    display: block;
  }

  .header__nav-list {
    max-width: none;
    justify-content: space-between;
  }

  .header__nav-item {
    min-width: auto;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
