.nav {
  @include font__nav;

  text-transform: uppercase;
}

.nav__list {
  @include list-reset;

  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  width: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav__link {
  padding: 5px 0;
  color: $color__main;

  &--footer {
    color: $color__second;
  }

  &:hover,
  &:focus {
    color: $color__action;
    outline: 0;
    transition: $transition;
  }
}

@media (min-width: $width__m) {
  .nav__list {
    width: 738px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .nav__item {
    min-width: 200px;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

@media (min-width: $width__l) {
  .nav__list {
    width: auto;
    justify-content: space-between;
  }

  .nav__item {
    min-width: auto;
  }
}

