.pass {
  background-color: $bg-color__pass;
  padding-top: 33px;
  padding-bottom: 21px;
  margin-bottom: 50px;
  overflow: hidden;
}

.pass__inner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  &:before {
    content: "";
    width: 707px;
    height: 707px;
    margin-top: -359px;
    margin-left: -354px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: $color__second;
    z-index: -1;
  }
}

.pass__title {
  @include font__title;

  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
}

.pass__list {
  @include list-reset;

  margin-bottom: 23px;
}

.pass__item {
  width: 80%;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 25px;
  position: relative;

  &:not(:last-child)::after {
    content: "";
    width: 100px;
    height: 1px;
    margin-left: -50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.4;
    left: 50%;
    bottom: 0;
  }
}

.pass__heading {
  @include font__heading;

  margin: 0;
  margin-bottom: 8px;
  font-family: $font__second;
  text-align: center;
}

.pass__desc {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.pass__btn {
  margin-bottom: 15px;
}
