.reviews {
  margin-bottom: 29px;

  &.container {
    padding: 0;
  }
}

.reviews__inner {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  @include font__title;

  margin: 0 auto 20px;
  text-transform: uppercase;
}

.reviews__list {
  @include list-reset;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reviews__article {
  width: 370px;
  display: flex;
  flex-direction: column;
}



.reviews__desc {
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: $width__xs) {
  .reviews {
    margin-bottom: 0;
  }

  .reviews__item {
    margin: 0 auto 25px;
  }

  .reviews__article {
    width: 290px;
  }

  .reviews__heading {
    color: $color__main;
    margin-bottom: 8px;

    & h3 {
      margin: 0;
      font-family: $font__second;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
    }

    &:hover,
    &:focus {
      color: $color__action;
      outline: 0;
      transition: $transition;
    }
  }

  .reviews__img {
    height: 159px;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
    order: -1;
    background-color: $bg-color__main;

    &:hover,
    &:focus {
      filter: opacity(0.8);
      outline: 0;
      transition: $transition;
    }
  }
}

@media (min-width: $width__l) {
  .reviews__inner {
    padding-bottom: 19px;
  }

  .reviews__article {
    width: 370px;
  }

  .reviews__heading {
    & h3 {
      @include font__heading;
    }
  }

  .reviews__img {
    height: 203px;
    margin-bottom: 20px;
  }
}
